/* 基本样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./img/000.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8; /* 登录表单透明度 */
}

.formRight {
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

input[type="text"]:focus + .border,
input[type="password"]:focus + .border {
    transform: scaleX(1);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0.9; /* 登录按钮透明度 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

button:hover {
    background-color: #0056b3;
    opacity: 1; /* 鼠标悬停时透明度变为1 */
}

#playButton {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 150px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #ecfa16;
    color: #2c8500;
    font-family: '幼圆', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 10px #ecfa16, 0 0 20px #ecfa16, 0 0 30px #ecfa16, 0 0 40px #ecfa16;
    transition: box-shadow 0.3s ease;
}

#playButton:hover {
    box-shadow: 0 0 10px #ecfa16, 0 0 20px #ecfa16, 0 0 30px #ecfa16, 0 0 50px #ecfa16;
}